<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Add a Dojo</h3>
  <form action="/dojos" method="post">
    {% csrf_token %}
    <p>Name: <input type="text" name="name_of_dojo"></p>
    <p>City: <input type="text" name="city"></p>
    <p>State: <input type="text" name="state"></p>
    <button type="submit">Add</button>
  </form>

  <h3>Add a Ninja</h3>
  <form action="/ninjas" method="post">
    {% csrf_token %}
    <p>First_Name: <input type="text" name="first_name"></p>
    <p>Last_Name: <input type="text" name="last_name"></p>
    <p>
      Dojo
      <select name="dojo">
        {% for dojo in dojos %}
        <option value="{{ dojo.id }}">{{ dojo.name }}</option>
        {% endfor %}
      </select>
    </p>
    <button type="submit">Add</button>
  </form>

  <hr>
  <h3>All the Dojos</h3>
  <ul>
    {% for dojo in dojos %}
    <li>{{dojo.name}}
      <ul>
        {% for ninja in dojo.ninjas.all %}
        <li>{{ ninja.first_name }} {{ ninja.last_name }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</body>
</html>